#
# Base settings for Debian
#
#

- name: Install defaults packages
  apt: pkg=$item state=present
  with_items:
    - man-db
    - apt-file
    - wget
    - curl
    - ngrep
    - tree
    - bash-completion
    - language-pack-fr
    - git
    - gitk
    - unzip
    - logrotate
    - rsyslog
    - sysstat
    - tmux
    - w3m
    - libgtk2.0-0
    - libswt-gtk-3-jni
    - libswt-gtk-3-java
    - mlocate
    - genisoimage
    - dnsutils
    - vim

- name: Install Python tools
  apt: pkg=$item state=present
  with_items:
    - libcurl4-gnutls-dev
    - python-dev
    - python-pip
    - pylint
    - python-pycurl

- name: Install PHP tools
  apt: pkg=$item state=present
  with_items:
    - php5-curl
    - php5-dev
    - php5-mysql
    - php-pear
    - php5-xdebug

- name: Install Apache packages
  apt: pkg=$item state=present
  with_items:
    - apache2
    - libapache2-mod-php5
    - libapache2-mod-wsgi

- name: Install MySQL packages
  apt: pkg=$item state=present
  with_items:
    - mysql-server
    - mysql-client
    - libmysqlclient-dev
    - mysql-workbench

- name: Install NodeJS Repo
  apt_repository: repo=ppa:richarvey/nodejs

- name: Update APT for NodeJS
  apt: update_cache=yes

- name: Install NodeJS
  apt: pkg=npm state=present
  
- name: Install ChangeLog
  copy: >
    src=files/ChangeLog dest=/etc/
    owner=root mode=644

# - name: Install motd
#   copy: >
#     src=files/motd dest=/etc/
#     owner=root mode=644

- name: Install apt sources.list
  copy: >
    src=files/sources.list dest=/etc/apt/
    owner=root mode=644
